body {
	min-width: 495px;
}
.row {
}
.container {
  min-width: 600px;
	margin: 5px;
	padding: 5px;
  border: 5px solid black;
}
.color {
	border: 2px solid black;
  height: 120px;

  display: table-cell;
	width: 120px;
  align-self: flex;
}
/*flex items*/
